<div id="mainContainer"></div>

<input type="button" value="Append" onclick="createElem()">

<script>
var mainDiv = document.getElementById("mainContainer");


function createElem(){
	var newElem = document.createElement("div");
	newElem.className = "color-border";
	newElem.id = "testId";
	
	
	var newElem2 = document.createElement("p");
	newElem2.className = "color-border2";
	newElem2.innerHTML = "Test content for P tag";
	
	mainDiv.appendChild(newElem);
	mainDiv.appendChild(newElem2);
}
</script>

<style>
#mainContainer{
	width: 100px;
	height: 200px;
	border: 1px solid black;
}

.color-border{
	width: 30px;
	height: 20px;
	border: 1px solid red;
	margin: 10px;
}

.color-border2{
	color: blue;
	
}

</style>