<script>
function setLocal(){
	window.localStorage.setItem("username", "local storage user");
	console.log(window.localStorage.getItem("username"));
}

function setSession(){
	window.sessionStorage.setItem("username", "session storage user");
	console.log(window.sessionStorage.getItem("username"));
}
</script>
<input type="button" value="set local" onclick="setLocal()" />
<input type="button" value="set Session" onclick="setSession()" />
