<!DOCTYPE html>
<html>
	<head>
		<title>Media query</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<div class="myDiv">

		</div>
	</body>
	<style>
		.myDiv{
			width: 200px;
			height: 200px;
			border: 1px solid black;
		}

		@media (max-width: 1200px){
			.myDiv{
				background-color: red;
			}
		}
		
		@media (max-width: 420px){
			.myDiv{
				background-color: green;
			}
		}

		@media (max-width: 320px){
			.myDiv{
				background-color: yellow;
			}
		}
		
		/*
		Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.
		*/
	</style>
</html>