<input type="button" value="Click button" onclick="clickEvent()" onmouseover="mouseOver()" />

<input type="text" value="" onkeypress="keyPress()" />

<script>
function clickEvent(){
	console.log("Button clicked");
}

function mouseOver(){
	console.log("Mouse over");
}

function keyPress(){
	console.log("Key Press");
}
</script>