<script>
var i=0;
function displayMessage(){
	if(i == 10){
		clearInterval(intervalMethod);
	}
	document.getElementById("message").innerHTML = "Set interval message:" + i;
	i = i+1;
}

var intervalMethod = setInterval(displayMessage, 500);
</script>

<div id="message"></div>