<div class="icon-container insta"></div>

<div class="icon-container gplus"></div>

<div class="icon-container fb"></div>

<div class="icon-container wp"></div>

<style>
.icon-container{
	width: 34px;
	height: 34px;
	background-image: URL("images/sprite.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 100px;
}

.insta{
	background-position: -9px -7px;
}

.gplus{
	background-position: -9px -50px;
}

.fb{
	background-position: -61px -7px;
}

.wp{
	background-position: -216px -7px;
}
</style>